.carousel-container {
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    padding: 20px 0;
}

.carousel-track {
    display: flex;
    gap: 30px;
    animation: scroll 25s linear infinite;
    align-items: center;
}

.carousel-logo {
    height: 50px;
    width: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.carousel-logo:hover {
    filter: grayscale(0%);
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-20%);
    }
}